/* Debian language css file for norwegian - nb */
/* please do not touch for now! - Jutta Wrage 2005 */

html[lang=nb] #maincol {}

/* quotes ok */
html[lang=nb] q:before { content: "\00AB"; }
html[lang=nb] q:after { content: "\00BB"; }
html[lang=nb] q q:before { content: "\2018"; }
html[lang=nb] q q:after { content: "\2019"; }

html[lang=nb] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=nb] blockquote.quote p:after { content: ""; }
html[lang=nb] blockquote.quote p.last:after { content: "\00BB"; }

/* html[lang=nb] q:before { content: "\00AB"; }
html[lang=nb] q:after { content: "\00BB"; }
html[lang=nb] q q:before { content: "\2039"; }
html[lang=nb] q q:after { content: "\203A"; }
*/
/* html[lang=nb] q:before { content: "\201C"; }
html[lang=nb] q:after { content: "\201D"; }
html[lang=nb] q q:before { content: "\2018"; }
html[lang=nb] q q:after { content: "\2019"; }
*/

#splash h1 {
	background-image: url('Pics/homeworld-fg-nb.png');
}
